body {
    background-color: var(--primary-color);
}

.cards{
    display: flex;
    justify-content: center;
    padding: 10px;
}

section {
    background-color: white;
    width: 335px;
    border: 2px solid rgb(219, 218, 218);
    border-radius: 20px;
    text-align: center;
}

.cards section div img {
    justify-content: center;
    height: 250px;
    border-radius: 10%;
}

.name {
    font-size: 30px;
    padding: 10px;
}

article {
    font-size: 15px;
    height: 40px;
    color: rgb(139, 138, 138);
}
