.gap {
    height: 70px;
}

.gap2 {
    height: 20px;
}

.heading {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
}

.heading span {
    color: var(--font-color-2);
}

.cards {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.cards section {
    background-color: var(--navbar-footer-color);
    width: 335px;
    border-radius: 20px;
    text-align: center;
    margin: 1vw;
    border-bottom: 2px solid var(--font-color-2);
}

.cards section article {
    overflow: scroll;
    margin: 20px;
    text-align: justify;
}

.cards section div>img {
    justify-content: center;
    height: 250px;
    margin-top: 30px;
    border-radius: 10%;
}

.name {
    font-size: 30px;
    padding: 10px;
}

article {
    font-size: 15px;
    height: 90px;
    color: var(--font-color-1);
}

.social-icons a img {
    padding: 0px 5px;
    width: 18px;
}

.social-icons a {
    text-decoration: none;
}